body {
	background-color: #22ff00;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Lato';
	line-height: 2.0;
}

main {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 50px;
	margin-top: 30px;
	border-radius: 25px;
}
.logo, .manchete, .headline {
	margin: 0;
	text-align: center;
}
h1 {
	color:#FFFFFF;
	font-size:2rem;
}
figure {
	 text-align: left;
 }
h3{
	text-align: center;
}
li {
	text-align: center;
}
